<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Components Digest</title>
    <style>
      h2 {
        background: darkslategrey;
        color: white;
        padding: 1rem;
      }
      div.component {
        margin: 0 2rem;
      }
    </style>
  </head>
  <body>
    <main style="margin: 2rem;">
      <h1>The Digest</h1>
      {% for collection in collections %}
        <h2>{{ collection.def.name }}</h2>
        {% for component in collection.components %}
          <div class="component">
            <h3>{{ component.def.dirName }}</h3>
            {% for file in component.files %}
              <p>
                <a href="{{ component.def.route }}/{{ file }}">{{ file }}</a>
              </p>
            {% endfor %}
          </div>
        {% endfor %}
      {% else %}
        <p>No components found</p>
      {% endfor %}
    </main>
  </body>
</html>